/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
    padding: 10px;
  }
  
  header {
    background: #007BFF;
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  
  header nav ul {
    display: inline-block;
    justify-content: center;
    list-style: none;
  }
  
  header nav ul li {
    margin: 0 15px;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
  }

  .contenedor_logo{
    display:inline-block;
  }

  #logo{
    height: 100px;
  }
  
  footer {
    text-align: center;
    margin-top: 20px;
    color: #666;
  }
  